.blue-screen {
	height: 100vh;
	width: 100vw;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: center;
	z-index: 999;
	transition: 0.5s all;
}
.loading-progress-cont {
	height: 26px;
	width: 26px;
}
.loading-progress-cont img {
	height: 100%;
	width: 100%;
	animation: 1s rotate ease-in-out infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.loading-txt {
	margin-top: 16px;
	font-size: 0.9rem;
	color: var(--green-2);
	font-weight: 500;
}
.welcome-screen {
	height: 100vh;
	width: 100vw;
	background-color: var(--green-2);
	display: flex;
	flex-direction: column;
	position: absolute;
	transition: 0.4s all;
}
.welcome-screen-doodle-cont {
	height: 300px;
	width: 100vw;
	position: absolute;
}
.welcome-screen-doodle-cont img {
	height: auto;
	width: 100%;
	opacity: 60%;
	mask-image: linear-gradient(to bottom, black 10%, transparent 100%);
}
.welcome-screen-main-cont {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.welcome-screen-app-logo-cont {
	height: 110px;
	width: 110px;
	background-color: rgba(255, 255, 255, 0.6);
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.welcome-screen-app-logo-cont img {
	height: calc(100% - 32px);
	width: calc(100% - 32px);
}
.welcome-screen-app-name-heading {
	color: var(--text-w-1);
	margin-top: 32px;
}
.welcome-screen-app-slogan-txt {
	color: var(--text-w-1);
	opacity: 80%;
	margin-top: 4px;
}
.sign-up-or-in-cont {
	margin-top: 32px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login-acc-btn-1 {
	margin-top: 8px;
}
.welcome-screen-socials-cont {
	margin-top: 64px;
	height: fit-content;
	width: 100vw;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.welcome-screen-socials-cont span {
	color: var(--text-w-1);
	opacity: 80%;
}
.welcome-screen-follow-us-icons-cont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 12px;
	height: 20px;
	width: calc(20px + 20px + 20px + 12px + 12px);
}
.welcome-screen-follow-us-icons-cont .icon-box {
	height: 20px;
	width: 20px;
}
.welcome-screen-follow-us-icons-cont .icon-box img {
	height: 100%;
	width: 100%;
	opacity: 50%;
}
.signup-screen {
	margin-top: calc(100vh + 50px);
	position: absolute;
	height: 100vh;
	width: 100vw;
	border-top-left-radius: 52px;
	border-top-right-radius: 52px;
	background-color: var(--white);
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.signup-screen-emoji-cont {
	height: 100px;
	width: 100px;
	/* margin-left: calc(50vw - 50px); */
	margin-top: -50px;
}
.signup-screen-emoji-cont img {
	transition: 0.4s all;
	height: 100%;
	width: 100%;
}
.login-screen {
	margin-top: calc(100vh + 50px);
	position: absolute;
	height: 100vh;
	width: 100vw;
	border-top-left-radius: 52px;
	border-top-right-radius: 52px;
	background-color: var(--white);
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-screen-emoji-cont {
	height: 100px;
	width: 100px;
	/* margin-left: calc(50vw - 50px); */
	margin-top: -50px;
}
.login-screen-emoji-cont img {
	transition: 0.4s all;
	height: 100%;
	width: 100%;
}
.signup-heading {
	font-weight: 500;
	margin-top: 32px;
	color: var(--text-1);
}
.signup-description {
	margin-top: 4px;
	color: var(--text-2);
}
.signup-form-fields-cont {
	margin-top: 32px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.signup-form-input-field-cover {
	height: 40px;
	width: calc(100vw - 100px);
	display: flex;
	border-radius: 500px;
	background-color: var(--green-base-light);
	margin-top: 10px;
}
.signup-form-input-field-cover input {
	height: 40px;
	padding-left: 6px;
	padding-right: 12px;
	background-color: transparent;
	font-family: "Poppins";
	color: var(--text-1);
	font-weight: 400;
	width: calc(100% - 40px - 6px - 6px - 12px);
	border-radius: 500px;
	outline: none;
	border: none;
	font-size: 0.7rem;
}
.signup-form-input-field-icon-box {
	margin-left: 6px;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.signup-form-input-field-icon-box img {
	height: calc(100% - 16px);
	width: calc(100% - 16px);
	opacity: 80%;
}
.signup-form-gender-question {
	margin-top: 32px;
	height: 36px;
	width: calc(36px + 36px + 4px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.signup-form-gender-question .icon-box {
	height: 36px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
}
.signup-form-gender-question .icon-box img {
	height: 22px;
	width: 22px;
	opacity: 60%;
}
.signup-form-policy-cover {
	margin-top: 26px;
	height: fit-content;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}
.signup-form-policy-cover span {
	opacity: 80%;
	font-size: 0.5rem;
	color: var(--text-2);
	text-align: center;
}
.create-acc-btn-2 {
	margin-top: 28px;
}
.acc-go-back-1 {
	margin-top: 10px;
}
#signupInformer,
#loginInformer {
	line-height: 1rem;
	max-width: 76%;
	text-align: center;
}
.main-screen {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: var(--white);
}
.app-install-screen {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: var(--white);
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.app-install-screen img {
	height: 120px;
	width: 120px;
}
.app-install-screen-app-name-heading {
	color: var(--text-1);
	margin-top: 32px;
}
.app-install-screen-app-slogan-txt {
	color: var(--text-2);
	opacity: 80%;
	margin-top: 4px;
}
.install-app-btn {
	margin-top: 32px;
}
