@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--green: rgb(92, 214, 112);
	--green-2: #21bc55;
	--green-3: #0d993c;
	--base-light: rgb(240, 240, 240);
	--base-medium: rgb(223, 223, 223);
	--text-1: rgb(59, 59, 59);
	--text-2: rgb(129, 129, 129);
	--text-3: rgb(145, 204, 166);
	--text-w-1: rgb(238, 238, 238);
	--white: rgb(233, 248, 238);
	--green-base-light: rgb(202, 240, 215);
}
::placeholder {
	color: var(--text-3);
	font-size: 0.7rem;
}
body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--base-medium);
	font-family: "Poppins", sans-serif;
	user-select: none;
	overflow: hidden;
}
h1 {
	margin: 0;
	font-size: 1.6rem;
	font-weight: 300;
	font-family: "Poppins", sans-serif;
	line-height: 1.6rem;
}
span {
	margin: 0;
	font-size: 0.6rem;
	font-weight: 300;
	font-family: "Poppins", sans-serif;
	line-height: 0.6rem;
}
.standard-primary-btn {
	height: 40px;
	width: 190px;
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 0.9);
	border: none;
	outline: none;
	font-size: 0.6rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: var(--green-2);
	cursor: pointer;
}
.standard-secondary-btn {
	height: calc(40px - 4px);
	width: calc(190px - 4px);
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 0.1);
	outline: none;
	font-size: 0.6rem;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.standard-primary-btn-green {
	height: 40px;
	width: 190px;
	border-radius: 500px;
	background-color: var(--green-2);
	border: none;
	outline: none;
	font-size: 0.6rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: var(--text-w-1);
	cursor: pointer;
}
.standard-zerout-btn {
	height: 40px;
	width: 190px;
	border-radius: 500px;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 0.6rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: var(--green-2);
	cursor: pointer;
}
.standard-zerout-btn img {
	height: 16px;
	width: auto;
}
.standard-primary-btn,
.standard-primary-btn-green,
.standard-zerout-btn,
.standard-secondary-btn {
	transition: 0.2s;
}
.standard-primary-btn:active,
.standard-primary-btn-green:active,
.standard-zerout-btn:active,
.standard-secondary-btn:active {
	scale: 0.95;
}
